extends layout 

block content 

  h1= title 
  if toy.image 
    img(src=toy.image)
  p #[strong Name: ] #{toy.name}
  p #[strong Description: ] #{toy.description}
  p #[strong Price: ] #{toy.price} 
  p #[strong In Stock: ] #{toy.quantity_in_stock}
  p #[strong Categories: ]
    each category in toy.category 
      p 
        a(href=category.url) #{category.name}
  p 
    a(href=toy.url+"/update") Update Toy
  p 
    a(href=toy.url+"/delete") Delete Toy